/*Font*/
@font-face {
	font-family: 'JetBrainsMonoNL Nerd Font';
	src: url('../font/JetBrainsMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DM Sans';
	src: url('../font/DMSans-Variable.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/*idk what to call this but ok*/
* {
	cursor: none !important;
    user-select: none !important;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
    user-select: none !important;
}

body {
	background-color: #000;
	font-family: "JetBrainsMonoNL Nerd Font", monospace;
	color: #f0f8ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: none !important;
	line-height: 1;
}

body.inverted {
	filter: invert(1) hue-rotate(180deg);
	background-color: #fff !important;
}

#welcome, #pageerror {
	z-index: 10;
    font-size: clamp(15px, calc(3vw + 1.5vh), 18px);
    transform: translateY(-50%);
	text-align: center;
	max-width: 90%;
	margin: 0;
	overflow-wrap: break-word;
}

.centercontainer {
	gap: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#happy, #sad {
	font-family: "DM Sans", sans-serif;
    font-size: clamp(5rem, calc(10vw + 20vh),25rem);
	z-index: 10;
	margin: 0;
	animation: ratio 2s ease-in-out infinite;
	text-shadow: 0 0 500px rgba(255, 255, 255, .277);
	white-space: nowrap;
}

#returntxt {
	bottom: 60px;
	position: fixed;
	display: flex;
	white-space: nowrap;
	z-index: 2;
	font-size: clamp(15px, 3.75vw, 17.5px);
}

/*buttons*/
.okBtn, #invertBtn {
	bottom: 30px;
	position: fixed;
	display: inline-block;
	background-color: rgb(28, 28, 28);
	color: #fff;
	padding: 5px 70px;
	font-size: 18px;
	text-decoration: none;
	outline: 2px solid rgb(59, 59, 59);
	cursor: none;
	user-select: none;
	transition: all .25s cubic-bezier(.02, .01, .21, 1);
	border-style: none;
}

.socialbuttons {
	background-color: rgb(28, 28, 28);
	color: #fff;
	padding: calc(var(--width) * .004) calc(var(--height) * .01);
	font-size: 18px;
	text-decoration: none;
	outline: 2px solid rgb(59, 59, 59);
	cursor: none;
	user-select: none;
	transition: all .25s cubic-bezier(.02, .01, .21, 1);
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.socialbuttons img {
	width: calc(var(--width) * .01);
	margin-right: calc(var(--width) * .0025);
}

.mode-toggle {
	display: flex;
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: rgb(28, 28, 28);
	color: #fff;
	width: 45px;
	height: 45px;
	font-size: 18px;
    border-style: none;
	text-decoration: none;
	outline: 2px solid rgb(59, 59, 59);
	cursor: none;
	user-select: none;
	transition: all .25s cubic-bezier(.02, .01, .21, 1);
	justify-content: center;
	align-items: center;
}

/* socialbuttoncontainer */
.socialbuttonscontainer {
	position: fixed;
	bottom: 1%;
    display: flex;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: clamp(8px, calc(var(--width) * .005), 24px);
}

.a:hover, button:hover, .socialbuttons:hover, .mode-toggle:hover, .okBtn:hover {
	outline: 4px solid rgb(218, 218, 218);
}

a:focus, button:focus, .socialbuttons:focus, .mode-toggle:focus, .okBtn:focus {
	outline: 4px solid rgb(218, 218, 218);
}

.socialbuttons:active, .mode-toggle:active, .status:active, #error:active {
	scale: .95;
}

.spotifybtn:hover {
	scale: 1.4;
	outline: 0;
}

.spotifybtn:focus {
	outline: 0;
}

.spotifybtn:active {
	scale: 1.1;
	outline: 0;
}

.spotifyanim {
	opacity: 0;
	animation: spotifyfadein 5s .5s forwards;
}

/*cursor*/
#cursor {
	position: fixed;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #fff;
	pointer-events: none;
	z-index: 9999;
	transform: translate(-50%, -50%);
	transition: transform .15s ease, width .15s ease, height .15s ease;
	mix-blend-mode: difference;
	box-shadow: #ffffff7c 0 0 5pc;
}

#cursor.cursor--hover {
	transform: translate(-50%, -50%) scale(1.25);
}

/*status*/
.spotifybtn {
	background-color: #fff0;
	border-style: none;
	transition: all .25s cubic-bezier(.02, .01, .21, 1);
    display: inline-flex;  
    align-items: center;    
    justify-content: center;
    width: 20px;            
    height: 20px;
    padding: 0;
    margin-right: 5px;  
    background-color: transparent;
    border: none;
}

.spotifybtn img {
    display: inline-block;
    transform: translateY(25%); 
    width: 20px;
    height: 20px;
}

#statusWrapper {
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 90%;
	text-align: center;
}

#statusText, #statusTextSpot {
    transform: translateY(-125%);
}

#statusText, #statusTextSpot, #whatishedoing {
	position: static;
    display: inline;
    font-size: clamp(15px, calc(3vw + 1.5vh), 18px);
}

#whatishedoing {
	display: inline;
    white-space: nowrap;

}

/*keyframes and media stuff*/
@keyframes ratio {
	0% {
		transform: rotate(2deg);
	}

	50% {
		transform: rotate(-2deg);
	}

	100% {
		transform: rotate(2deg);
	}
}

@keyframes l1 {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes spotifyfadein {
	0% {
		opacity: 0;
		filter: blur(24px);
		transform: translate3d(0, 42%, 0);
	}

	10% {
		opacity: 1;
		filter: blur(0);
		transform: translate3d(0, 0, 0);
	}

	90% {
		opacity: 1;
		filter: blur(0);
		transform: translate3d(0, 0, 0);
	}

	100% {
		opacity: 0;
		filter: blur(24px);
		transform: translate3d(0, 42%, 0);
	}
}


@media (orientation: portrait), (max-width: 1000px) {
	.socialbuttonscontainer {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		gap: 2.5%
	}

	#cursor {
		display: block;
	}

	.socialbuttons {
		height: clamp(50px, 15vw, 100px);;
        padding: 0px;
		aspect-ratio: 1 / 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.socialbuttons img {
		margin: 50%;
		width: 60%;
		height: 60%;
		object-fit: contain;
	}

	.label {
		display: none;
	}
}