@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html, body, * {
    cursor: none !important;
    user-select: none !important;
}

a:hover, a:focus, button:hover, button:focus {
    cursor: none !important;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: none !important;
    overflow: hidden; 
}
body {
    background-color: black;
    font-family: DM Sans, sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction:column ;
    align-items: center;
}
#welcome, #placeholder {
    display: flex;
    white-space: nowrap;
    position: relative;
    top: 500px;
    z-index: 2; 
    font-size: clamp(15px, 3.75vw, 17.5px);
    transform: translateX(10px);
}

@keyframes ratio {
    0% {transform: rotate(2deg)}
    50% {transform:rotate(-2deg)}
    100% {transform: rotate(2deg);}
}

#happy, #sad {
    position: relative;
    right: 20px;
    font-size: clamp(80px, 50vw, 200px);
    z-index: 2;
    text-shadow: 0px 0px 500px rgba(255, 255, 255, 0.277);
    transform: translateX(10px);
    margin: 220px;
    white-space: nowrap;
}
#okBtn {
    bottom: 30px;
    position:fixed;
    display: inline-block;
    background-color: rgb(28, 28, 28);
    color: white;
    padding: 5px 70px;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    outline: 2px solid rgb(59, 59, 59);
    cursor: none;
    user-select: none;
    transition: background-color 0.3s;
    border-style: none;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.21, 1);
}

#invertBtn {
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgb(28, 28, 28);
    color: white;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    outline: 2px solid rgb(59, 59, 59);
    cursor: none;
    user-select: none;
    transition: background-color 0.3s;
    border-style: none;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.21, 1);
}

@keyframes clickindabutton {
    0% {transform: scale(1); background-color: rgb(28, 28, 28);}
    50% {transform: scale(0.90); background-color: rgb(42, 42, 42);}
    100% {transform: scale(1); background-color: rgb(28, 28, 28);}
}


/*.socialbuttons {
    background-color: rgb(28, 28, 28);
    border-style: none;
    width: 100px;
    height: 100px;
    font-family: DM Sans, sans-serif;
    color: aliceblue;
    border-radius: 20px;
    outline: 2px solid rgb(59, 59, 59);
    margin-right: 7px;
    margin-top: 100px;
} this code is for the old legacy buttons  */

.socialbuttons {
    display: inline;
    background-color: rgb(28, 28, 28);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    outline: 2px solid rgb(59, 59, 59);
    cursor: none;
    user-select: none;
    transition: background-color 0.3s;
    border-style: none;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.21, 1);
}

.mode-toggle {
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgb(28, 28, 28);
    color: white;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    outline: 2px solid rgb(59, 59, 59);
    cursor: none;
    user-select: none;
    transition: background-color 0.3s;
    border-style: none;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.21, 1);
}

.socialbuttons:hover, .mode-toggle:hover, #okBtn:hover, #invertBtn:hover{
    scale: 1.1
}

.socialbuttons.animate, .mode-toggle.animate, #okBtn.animate, #invertBtn.animate {
    animation: clickindabutton 0.25s ease-in-out;
}

.socialbuttonscontainer {
    cursor: none !important;
    position: fixed;
    bottom: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    white-space: nowrap;
    gap: 15px
}

#loader {
    display: flex;
    position: fixed;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #ffffff #ffffff00;
    bottom: 20px;
    right: 20px;
    opacity: 0;
}
@keyframes l1 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}

}

@keyframes fadein {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

#loader.animate {
    animation:
        l1 1s infinite cubic-bezier(.33, .72, .66, .39),
        fadein 0.5s cubic-bezier(.33, .72, .66, .39) forwards;
}

body {
    cursor: none;
}

#cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease, width 0.15s ease, height 0.15s ease;
    mix-blend-mode: difference;
    box-shadow: #ffffff7c 0px 0px 5pc;
}


.parallax-layer1, .parallax-layer2, .parallax-layer3, .parallax-layer4 {
    transition: transform 0.2s ease-out;
}

#happy .inner, #sad .inner {
  display: inline-block;
  animation: ratio 2s ease-in-out infinite;
}

.inverted {
    filter: invert(1) hue-rotate(180deg);
}

body.inverted {
  filter: invert(1) hue-rotate(180deg);
  background-color: white !important; 
}


#cursor.cursor--hover {
    transform: translate(-50%, -50%) scale(1.25);
}


.socialbuttons .label {
    display: inline;
}


@media (max-width: 700px) {
    .socialbuttonscontainer {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .socialbuttons {
        padding: 10px;
        font-size: 25px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .socialbuttons .label {
        display: none; 
    }

}
@media (max-width: 850px) {
    #loader {
        top: 20px;
        left: 20px;
    }
}

#social {
    bottom: 60px;
    position: fixed;
    display: flex;
    white-space: nowrap;
    z-index: 2; 
    font-size: clamp(15px, 3.75vw, 17.5px);
}
